{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {tivan, {git, "https://gitlab.com/arknode.io/tivan.git", {branch, "master"}}}
]}.

{relx, [{release, {hc_retained, {cmd, "scripts/version"}},
         [hc_retained
         ,tivan
        %  ,lager
        %  ,bifrost
        %  ,sasl
        ]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true}]}.

{erl_opts, [debug_info]}.
